node_modules
.next
.turbo
.vercel/cache
dist
build
out
coverage
playwright-report
test-results
.cache
.parcel-cache
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.env
.env*.local
!.env.example

/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
.aider*
